@using LogAnalyzer.Extensions
@using LogAnalyzer.Models

@model LogAnalyzerModel

<!DOCTYPE html>
<html>
<head>
    <title>Log analyzer</title>

    <link href="~/Styles/LogStyle.css" rel="stylesheet" />
</head>
<body>
    <div id="container">
        <h2>Services:</h2>
        <form action="Load" method="post">
            @foreach (var name in Model.Names)
            {
                @Html.CheckBox(name) @name <br />
                <br />
            }
            <button type="submit">Load</button>

        </form>
    </div>
</body>
</html>
