@using LogAnalyzer.Extensions
@using LogAnalyzer.Models

@model LogAnalyzerModel

<!DOCTYPE html>
<html>
<head>
    <title>Log analyzer</title>

    <link href="~/Styles/LogStyle.css" rel="stylesheet" />
</head>
<body>
    <div id="container">
        <h2>Services:</h2>
        <form action="Load" method="post">
            <fieldset>
                @foreach (var name in Model.Names)
                {
                    //@Html.CheckBox(name) @name <br />
                    <div class="chboxDiv"><label> <input type="checkbox" name=@name> @name </label></div>
                }
            </fieldset>
            <button>Load</button>

        </form>
    </div>
</body>
</html>
